#radio-button {
    -fx-pref-height: 50;
    -fx-pref-width: 200;
    -fx-padding: 10;
    -fx-spacing: 20;
    -fx-alignment: center;
}

#big-container {
    -fx-padding: 10;
    -fx-spacing: 10;
}

#small-container {
    -fx-border-style: solid inside;
    -fx-alignment: center;
}

#text-color {
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-spacing: 5;
}

#scroll-view {
    -fx-text-alignment: center;
    -fx-padding: 10;
}
